
.button-module--button--9nqNa {
  background: #368008;
  border-radius: 2px;
  color: #fff;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.08em;
  padding: 10px 18px;
  text-decoration: none;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }

  &:link,
  &:visited {
    color: #fff;
  }
}

.another-page-module--index--ZjApm {
  max-width: 900px;
  margin: 0 auto;
}

.another-page-module--linkButton--2Ugz9 {

  background-color: white;
  color: green;
}

.another-page-module--linkButton--2Ugz9:link,
  .another-page-module--linkButton--2Ugz9:visited {
    color: green;
  }
.index-module--index--3-kz2 {
  max-width: 900px;
  margin: 0 auto;
}

.index-module--button--36ycx {
}

.page-after-index-module--index--2uVBn {
  max-width: 900px;
  margin: 0 auto;
}

.page-after-index-module--linkButton--1hZuU {

  background-color: white;
  color: blue;
}

.page-after-index-module--linkButton--1hZuU:link,
  .page-after-index-module--linkButton--1hZuU:visited {
    color: blue;
  }
